@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Agro Farm Way<br />
    Nilphamari Sadar, Nilphamari<br />
    <abbr title="Phone">Phone:</abbr>
    +8801787917335
</address>

<address>
    <strong>Support:</strong>   <a href="roy.suvo2012@gmail.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="roy.hridoy2014@gmail.com">Marketing@example.com</a>
</address>