@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>AGRO FARM</h1>
    <p class="lead">Agriculture is the largest employment sector in Bangladesh. The performance of this sector has an overwhelming impact on major macroeconomic objectives like employment generation, poverty alleviation, human resources development, food security...</p>
    <p><a href="https://en.wikipedia.org/wiki/Agriculture_in_Bangladesh" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Crop Farm</h2>
        <p>
            Rice is the staple food of about 135 million people of Bangladesh. It provides nearly 48% of rural employment, about two-third of total calorie supply and about one-half of the total protein intake of an average person in the country. Rice sector contributes one-half of the agricultural GDP and one-sixth of the national income in Bangladesh. more...
        </p>
        <p><a class="btn btn-default" href="http://www.knowledgebank-brri.org/riceinban.php">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cow Farm</h2>
        <p> Bangladesh is home to various cattle breeds and their crosses. Although it is hard to distinguish between the breeds, as farmers do not keep accounts of the cattle being bred, they can be identified based on their phenotypical characteristics. The most commonly found breeds in the nation are Native, Sahiwal, Sindhi, Holstein-Friesian, Jersey, Brahman, Red Chittagong Cattle, Pabna Cattle, and Mirkadim Cattle...</p>
        <p><a class="btn btn-default" href="https://www.thedailystar.net/news/lifestyle/spotlight/cattle-tales-1620187">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fish Farm</h2>
        <p>Bangladesh is considered one of the most suitable regions for fisheries in the world, with the world's largest flooded wetland and the third largest aquatic biodiversity in Asia after China and India. This paper reviews the performance of fisheries in Bangladesh using data collected from the Bangladesh Department of Fisheries, and related un-published grey literatures. The findings within describe recent growth within Bangladeshi inland fisheries, primarily in the inland aquaculture sector (2014–2015)...</p>
        <p><a class="btn btn-default" href="https://www.sciencedirect.com/science/article/pii/S2468550X16300260">Learn more &raquo;</a></p>
    </div>
</div>